body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
body {
  padding-top: 5rem;
}
.navbarstyle {
  background-color: #f2f4f4;
  font-family: "playfair display", sans-serif;
  display: block;
}
